* { margin: 0; 
    padding: 0; 
    font-size: 100%; 
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;}

    img {max-width: 100%;}
    ul {list-style:none;}
    a {text-decoration: none;}
    h2 {font-size: 1.5em; color: #333;}
    p {font-size: 1em; color: #777;}


   

    .menu{
        width: 100%;
        float:left;
        background-color: #13c7ae; 
        padding: 35px 10%;
        display: flex;             
        justify-content: center;   

    }
    
    .menu li{float: left;}
    
    .menu li a{
        color: aliceblue; 
        margin-right: 25px;
        font-size: 20px;         

    }

    .sobre{
        width: 70%;
        margin: 0 auto;
        float:none;
        padding: 0 20px 20px 0;
    }

    .sobre h2{
        margin-bottom: 15px;
        text-align: center;
    }


    .sobre img {
        width: 30%;
        display: block;
        margin: 0 auto 15px auto; 
        border-radius: 5px;
    }


    .newsletter{
        width: 100%;
        background-color:#13c7ae;
        padding: 20px 8%;
        text-align: center;
    }

    .newsletter h3{
        font-size: 1.2em; 
        color: #fff;
    }

    .newsletter p{
        font-size: 0.8em;
        color: #fff
    }

